:root {
  --main-title-color: #ffffff;
  --acsent-colour: #2196f3;
  --text-color: #212121;
  --description-text-color: #757575;
  --o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --o-transition-duration: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-title-color);
  color: var(--text-color);
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: rgba(0, 0, 0, 0.2);
          backdrop-filter: rgba(0, 0, 0, 0.2);
  -webkit-transition: opasity var(--o-transition-duration) var(--o-transition-timing-function), visibility var(--o-transition-duration) var(--o-transition-timing-function);
  transition: opasity var(--o-transition-duration) var(--o-transition-timing-function), visibility var(--o-transition-duration) var(--o-transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden.modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--acsent-colour);
  margin-right: 93px;
}

.logo__header {
  color: #000000;
}

.logo__footer {
  color: var(--main-title-color);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--main-title-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--o-transition-duration) var(--o-transition-timing-function), -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: opacity var(--o-transition-duration) var(--o-transition-timing-function), -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function), opacity var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function), opacity var(--o-transition-duration) var(--o-transition-timing-function), -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
}

.modal__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--o-transition-duration) var(--o-transition-timing-function);
  transition: fill var(--o-transition-duration) var(--o-transition-timing-function);
}

.modal__btn:hover,
.modal__btn:focus {
  fill: var(--acsent-colour);
}

.modal__form-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  text-align: center;
  color: var(--text-color);
}

.modal__form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  color: var(--description-text-color);
}

.modal__form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 1px solid transparent;
  -webkit-transition: border var(--o-transition-duration) var(--o-transition-timing-function);
  transition: border var(--o-transition-duration) var(--o-transition-timing-function);
}
.modal__form-field:focus {
  border: 1px solid var(--acsent-colour);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--o-transition-duration) var(--o-transition-timing-function);
  transition: fill var(--o-transition-duration) var(--o-transition-timing-function);
}

.modal__form-field:focus + .modal__form-icon {
  fill: var(--acsent-colour);
}

.modal__form-mesage {
  font-size: 12px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: 1px solid transparent;
  -webkit-transition: border var(--o-transition-duration) var(--o-transition-timing-function);
  transition: border var(--o-transition-duration) var(--o-transition-timing-function);
}
.modal__form-mesage:focus {
  border: 1px solid var(--acsent-colour);
}

.modal__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  height: 24px;
}

.modal__form-agreement-link {
  color: var(--acsent-colour);
  text-underline-offset: 3px;
}

.modal__form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid var(--text-color);
  border-radius: 2px;
  background-color: var(--main-title-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: background-size var(--o-transition-duration) var(--o-transition-timing-function), background-color var(--o-transition-timing-function) var(--o-transition-duration), outline var(--o-transition-timing-function) var(--o-transition-duration);
  transition: background-size var(--o-transition-duration) var(--o-transition-timing-function), background-color var(--o-transition-timing-function) var(--o-transition-duration), outline var(--o-transition-timing-function) var(--o-transition-duration);
}

.modal__form-checkbox:checked {
  outline: 2px solid var(--acsent-colour);
  background-color: var(--acsent-colour);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 11px 8px;
}

.modal__form-agreement-descr {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: var(--description-text-color);
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  cursor: pointer;
  background-color: var(--acsent-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--acsent-colour);
  padding: 10px 52px 10px 52px;
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  color: #188ce8;
}

.header .container {
  padding-left: 215px;
  padding-right: 215px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.site__nav .link.current {
  color: var(--acsent-colour);
}

.header__nav__item {
  gap: 50px;
}

.header__nav__link {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.header__nav__link:hover,
.header__nav__link:focus {
  color: var(--acsent-colour);
}

.header__nav__link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acsent-colour);
  bottom: -1px;
  -webkit-transition: -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function), -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-text-color);
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.header__tel:hover,
.header__tel:focus {
  color: var(--acsent-colour);
}

.header__mail:hover,
.header__mail:focus {
  color: var(--acsent-colour);
}

.header__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.header__border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-position: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bgr.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bgr.jpg);
}

.hero__title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  cursor: pointer;
  background-color: var(--acsent-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--acsent-colour);
  padding: 10px 32px;
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.hero__btn:hover,
.hero__btn:focus {
  color: #188ce8;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.features__item {
  width: 270px;
}

.fetures__title {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--text-color);
}

.features__text {
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.features__icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.services {
  padding-top: 0;
}

.work-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.section__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-img-item {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-backdrop-filter: rgba(47, 48, 58, 0.8);
          backdrop-filter: rgba(47, 48, 58, 0.8);
}

.overlay__text {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.team {
  background-color: #f5f4fa;
}

.team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: calc(100% - 22.5px);
      flex-basis: calc(100% - 22.5px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}

.team__descr {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team__text {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
  margin-bottom: 16px;
}

.card {
  background: var(--main-title-color);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-title-color);
  color: #afb1b8;
  -webkit-transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--acsent-colour);
  color: var(--main-title-color);
}

.socials__icon {
  fill: currentColor;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients__list__item {
  width: 170px;
  height: 92px;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  -webkit-transition: border-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: border-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function);
}
.clients__link:hover, .clients__link:focus {
  color: var(--acsent-colour);
  border-color: var(--acsent-colour);
}

.company-icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-right: 0;
  display: block;
  margin-bottom: 20px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer__adress {
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer__contact {
  font-style: normal;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.footer__contact:hover,
.footer__contact:focus {
  color: var(--acsent-colour);
}

.adress-wrapper {
  margin-right: 70px;
  min-width: 231px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__icons .footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  text-align: left;
  width: 206px;
}

.footer__socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__socials-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: background-color var(--o-transition-duration) var(--o-transition-timing-function);
}

.socials-icon-footer {
  fill: var(--main-title-color);
}

.footer__socials-link:hover,
.footer__socials-link:focus {
  background-color: var(--acsent-colour);
}

.footer__form {
  margin-left: 93px;
}

.email-input {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: var(--main-title-color);
  margin-right: 12px;
  padding-left: 16px;
}

.footer__form-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  cursor: pointer;
  background-color: var(--acsent-colour);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--acsent-colour);
  padding: 10px 62px 10px 28px;
  -webkit-transition: color var(--o-transition-duration) var(--o-transition-timing-function);
  transition: color var(--o-transition-duration) var(--o-transition-timing-function);
}

.footer__form-button:hover,
.footer__form-button:focus {
  color: #188ce8;
}

.footer__form-icon {
  position: absolute;
  margin-left: 10px;
  margin-right: 8px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.btn-text {
  padding: 6px 22px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  -webkit-transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function), -webkit-box-shadow var(--o-transition-duration) var(--o-transition-timing-function);
  transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function), -webkit-box-shadow var(--o-transition-duration) var(--o-transition-timing-function);
  transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function), box-shadow var(--o-transition-duration) var(--o-transition-timing-function);
  transition: background-color var(--o-transition-duration) var(--o-transition-timing-function), color var(--o-transition-duration) var(--o-transition-timing-function), box-shadow var(--o-transition-duration) var(--o-transition-timing-function), -webkit-box-shadow var(--o-transition-duration) var(--o-transition-timing-function);
}

.btn-text:hover,
.btn-text:focus {
  background-color: var(--acsent-colour);
  color: var(--main-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*--------Images---------------------*/
.box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 370px;
  background: var(--main-title-color);
  -webkit-transition: bow-shadow var(--o-transition-duration) var(--o-transition-timing-function);
  transition: bow-shadow var(--o-transition-duration) var(--o-transition-timing-function);
}

.box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-border {
  border: 1px solid #eeeeee;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  padding-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-descr {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*---Overlay---*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function);
  transition: transform var(--o-transition-duration) var(--o-transition-timing-function), -webkit-transform var(--o-transition-duration) var(--o-transition-timing-function);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.overlay-text-portfolio {
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
}

.portfolio-item:hover .overlay-portfolio {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}/*# sourceMappingURL=main.css.map */