:root {
    --main-title-color: #ffffff;
    --acsent-colour: #2196f3;
    --text-color: #212121;
    --description-text-color: #757575;

    --o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --o-transition-duration: 250ms;
}


